[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
motor = "*"
requests = "*"
yapf = "*"
lxml = "*"
redis = "*"
pytest = "*"
pandas = "*"
psycopg2 = "*"
"py4j" = "*"
psutil = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.7"
